header {
  grid-area: header;
  background-color: #FFFFFF;
  margin: 0px;
  padding: 0px;
  text-align: center;

}

#main {
  grid-area: main;
  padding: 60px;
}

footer {
  grid-area: footer;
  background-color: #000000;
  text-align: -color: #FFFFFF;
  min-height: 30px;

}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'main main main main main main'
    'footer footer footer footer footer footer';
  grid-gap: 10px;
  background-color: #FFFFFF;
  padding: 10px;
}

#nav-bar{
  background-color: #FFFFFF;

}

#nav-bar a {
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  color: black;
  margin: 0px 20px 0px 20px;
  text-decoration: none;
  font-size: 20px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + #main {
  padding-top: 60px;
}

h2{
  font-family: Arial, Helvetica, sans-serif
}

.grid-container > div {
  background-color: #FFFFFF);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.product-info{

}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}
