
html *{

}

#main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  display: block;
  margin-bottom: 20px;
}

label, input {
  width: 100%;
  padding: 10px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  /*border: 2px solid blue;
  border-radius: 4px;*/
  background-color: Lightyellow;
  color: brown;
}

.textInput{
  border-radius: 4px;
}

label, textarea{
  width: 100%;
  /*height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;*/
  resize: none;
}

/* .options{
  display: inline;
} */

#survey-form{
  background-color: lightblue;
  font-family: "Sofia";
}
